

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #121212;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


.Header{
    display:flex;
    flex-direction: row;
    padding:20px;
    justify-content: center;

    align-items: center;
    background-color: rgba(255, 255, 255, 0.06);
    box-shadow: 0 5px 15px rgba(108, 106, 106, 0.2);
    color:#121212;
    width:100%;
    height:10%;
    font-size:larger;
}

.Header h1{
    margin: auto;
    font-size:xx-large;
}

span{
    color:rgb(56, 120, 239);
    display:inline;
}


.container {
    background-color: rgba(255, 255, 255, 0.06);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid rgba(255, 255, 255,0.08);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.06);
    border:solid 2px;
    border-color:  #00000032;
    border-radius: 5px;
    color: #000000;
    outline: none;
}

input[type="text"]:hover{
    border-color: black;
}
button {
    width: 25%;
    padding: 10px;
    background-color:rgb(56, 120, 239);
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
}

button:hover {
    background-color:rgb(22, 97, 237);
    transform: scale(1.05);
    
}

#Aqibutton{
    width: 100px;
    padding: 10px;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s;
}

#Aqibutton:hover{
transform: scale(1.05);
}

#weather-info {
    margin-top: 20px;
}

.hidden {
    display: none;
}

#error-message {
    color: #FF5722;
    margin-top: 20px;
}
p{
    padding:10px;
}

#Aqi p{
    margin:15px;
    font-size: x-large;
    font-weight: 700;
}

#Aqi img {
    display: block;
    margin: 10px auto;      
    width: 100%;            
    max-width: 350px;      
    height: auto;          
    object-fit: contain;   
    border-radius: 8px; 
    padding:20px;    
}
.footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    background: rgba(208, 197, 197, 0.1); 
    color: #000000;
    font-size: 14px;
    border-top: 1px solid rgba(149, 84, 240, 0.2);

    margin-top: auto;   /* THIS makes footer stick to bottom */
}


.footer p {
    margin:0;
}

